/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header, body, footer {
  width: 360px;
  margin: 0 auto;
}

/* header */
header {
  display: flex;
}

.title-icon {
  margin-left: 30px;
  margin-top: 20px;
}

.title {
  display: inline;
  font-size: 18px;
  font-weight: bold;
}

/* 説明文 ---------------------------------------------- */
body h3 {
  text-align: center;
  margin-top: 60px;
}
/* 説明文 ---------------------------------------------- */


body p {
  font-size: 12px;
  padding: 0 30px;
}

/* ログイン・新規登録 */
.login-signup {
  display: flex;
}

.owner-section {
  width: 150px;
  margin: 0 auto;
  /* text-align: center; */
  color: rgb(200, 100, 0);
}

.employee-section {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  color: rgb(0, 100, 200);
}


/* アイコン ------------------------------------------ */
.section-icon {
  width: 150px;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
}

.section-icon h5 {
  margin-top: 0;
}

.section-icon .fa-solid {
  margin: 0 auto;
}

.owner-section-icon {
  color: rgb(200, 100, 0);
}

.employee-section-icon {
  color: rgb(0, 100, 200);
}
/* アイコン ------------------------------------------ */

/* ボタン ------------------------------------------- */
.btns {
  width: 150px;
  margin: 0 auto;
  text-align: center;
}

.btn-login {
  display: block;
  text-decoration: none;
  margin: 30px;
  font-size: 14px;
  border-radius: 5px;
}

.btn-owner-login {
  color: rgb(200, 100, 0);
  border: 1px solid rgb(200, 100, 0);
}

.btn-owner-login:hover {
  color: white;
  background-color: rgb(200, 100, 0);
  border: 1px solid rgb(200, 100, 0);
}

.btn-employee-login {
  color: rgb(0, 100, 200);
  border: 1px solid rgb(0, 100, 200);
}

.btn-employee-login:hover {
  color: white;
  background-color: rgb(0, 100, 200);
  border: 1px solid rgb(0, 100, 200);
}

.btn-signup {
  display: block;
  text-decoration: none;
  margin: 20px;
  font-size: 12px;
  color: gray;
}

.btn-owner-signup:hover {
  color: rgb(200, 100, 0);
  font-weight: bold;
}

.btn-employee-signup:hover {
  color: rgb(0, 100, 200);
  font-weight: bold;
}
/* ボタン ------------------------------------------- */

/* 新規登録画面 -------------------------------------- */
.resister-new {
  width: auto;
  margin: 0 auto;
}

.resister-new h4 {
  text-align: center;
}

.resister-new .field {
  text-align: center;
  width: 200px;
  margin: 20px auto;
  /* font-size: 12px; */
}

.resister-new .actions {
  width: max-content;
  margin: 30px auto;
}

.other-sessions {
  text-align: center;
  font-size: 12px;
  color: black;
  text-decoration: none;
}
/* 新規登録画面 -------------------------------------- */

/* ログイン画面 -------------------------------------- */
.sessions-new {
  width: auto;
  margin: 0 auto;
}

.sessions-new h4 {
  text-align: center;
}

.sessions-new .field {
  text-align: center;
  width: 200px;
  margin: 20px auto;
  /* font-size: 12px; */
}

.sessions-new .actions {
  width: max-content;
  margin: 30px auto;
}
/* ログイン画面 -------------------------------------- */



/* オーナー画面 -------------------------------------- */
.owner-top {
  width: 80%;
  margin: 0 auto;
}

.list-title {
  height: 40px;
  display: flex;
}

.list-title h4 {
  text-decoration: none;
  margin: auto 0;
  margin-right: auto;
}

.fa-circle-plus {
  margin: auto 0;
  color: blue;
}

/* オーナー画面 -------------------------------------- */

/* footer */
footer {
  margin-top: 40px;
  text-align: center;
}